/* Set background to the page */
body {
    background: url("../images/desk_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#heading {
    text-align: center;
}

#score {
    text-align: center;
}

#to-dos {
    text-align: center;
    margin-top: 70px;
}

#to-do-list {
    list-style-type: none;
    
}
