/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    background: url("../images/desk_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
}

#heading {
    text-align: center;
    padding-top: 20px;
    
}

#score {
    text-align: center;
    padding-top: 20px;
}

body {
    background-color: rgb(240, 235, 227);
}


.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 16px;
    border-radius: 50px;
}

button {
    border: none;
    outline: none;
    padding: 8px 16px;
    background: #b1e6e0;
    font-size: 25px;
    font-weight: 25px;
    cursor: pointer;
    border-radius: 50%;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 8px 8px 8px 50px;
    user-select: none;
    cursor: pointer;
}



/* Media queries */

@media screen and (max-width: 768px) {
    header {
        height: 200px;
    }
}

@media screen and (max-width: 440px) {
    header {
        height: 150px;
    }
}


    
